<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Utente\Documents\code\mo-mo\templates\styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <title>Search Results </title>
</head>
<body>

    <div class="box">
        <img src={{img_url}} alt="Image" width="50" height="50">
        <div class="content">
            <div class="title">{{title}}</div>
            <div class="description">{{description}}</div>
        </div>
    </div>

</body>

</html>
